body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: url(https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
}

h1 {
  font-size: 10rem;
  color: antiquewhite;
  
}

.btn {
  font-weight: 400;
  border-radius: 300px;
  
}



.btn-primary:hover {
  border-color: black;
  color: whitesmoke;
  border-width: 5px;
}

.btn-xl {
  padding: 1rem 2rem;
 
}

hr {
  border-color: grey;
  border-width: 3px;
  max-width: 65px;

}
.buffer {
  height: 10px;
}
